/hand_in/*.png
*.pyc
*.mp4
*.json
*.pt

/hand_in/results/temporary/*
/hand_in/results/temporary/*.jpn
hand_in/results/temporary/*.pickle
/hand_in/results/temporary/*.pickle
./*.pyc
./*.mp4
./*.json
./*.pt

!hand_in/results/final/*.jpn
!hand_in/results/final/*.pickle

